[Unit]
Description=Runner for Papersist
After=network.target

[Service]
WorkingDirectory=/opt/papersist
EnvironmentFile=/etc/default/papersist.env
ExecStart=/opt/papersist/bin/papersist foreground
User=jadams
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
